@import '../main';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: $background-color;
  color: $text-color-dark;
  height: 100vh;
}

#root {
  height: 100vh;
}

.app {
  height: 100vh;
}
