@import "../main";

.balances__search {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}

.balances__contact-list {
  list-style: none;
  padding: 0;
}

.balances__contact-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: $card-background-color;
  &__user {
    flex: 1;
    margin-left: 2em;
  }
  &__button {
    flex: 1;
    margin-right: 2em;
    border: none;
    padding: 0.6em;
    background-color: $secondary-color;
    color: $button-color-light;
  }
}

.lonely-message {
  text-align: center;
  color: $text-color-dark;
}

.counterpart-list {
  display: flex;
  flex-direction: column;
}

.counterpart {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 0.5rem;
  &__name {
    flex: 1;
    font-weight: 600;
  }
  &__balance {
    padding: 0 15px;
    flex: 1;
    &--red {
      color: rgb(141, 34, 34);
    }

    &--green {
      color: rgb(23, 124, 23);
    }
  }
  &__btn {
    background-color: $secondary-color;

    border: none;
    color: $button-color-light;
    flex: 1;
  }
}

.payment {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;

  &__content {
    background-color: white;
    padding: 0;
    border: 1px solid black;
    width: 75%;
    height: auto;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;

    & p {
      margin: 1.25rem;
      text-align: right;
      font-size: 0.8em;
      cursor: pointer;
    }
  }
}

.payment-btn {
  // width: 100%;
  padding: 0rem;
  margin: 1.25rem 1.25rem 0 1.25rem;
  padding: 0.5rem;
  border: 1px solid $input-border-color;
  background-color: $primary-color;
  color: white;
  text-align: center;
}

.payment--closed {
  display: unset;
}

.new-round-btn {
  width: 100%;
  text-align: center;
  background-color: #0875a5;
  color: #fff;
  border: none;
  padding: 1em;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .payment__content {
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .payment__content {
    width: 50%;
  }
}
