@import '../main';
@import './NewRound';

.balances-container {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-bottom: 40px;
}

.balances-content {
  padding: $page-margin;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1;
}

.balances__text {
  padding-bottom: 1rem;
  font-weight: 800;
  color: $text-color-grey;
  text-align: center;
}

.counterpart-list {
  border-top: 1px solid $line-color;
  display: flex;
  flex-direction: column;
}

.counterpart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $line-color;

  &__name {
    @extend .user-container;
    flex: 3;
    flex-direction: row;
    font-weight: 600;
  }

  &__balance {
    flex: 3;
    text-align: center;

    &--red {
      color: rgb(141, 34, 34);
    }

    &--green {
      color: rgb(23, 124, 23);
    }
  }

  &__btn {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    border: none;
    color: $text-color-grey;
  }
}

.payment {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;

  &__content {
    background-color: white;
    padding: 0;
    border: 1px solid black;
    width: 75%;
    height: auto;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;

    & p {
      margin: 1.25rem;
      text-align: right;
      font-size: 0.8em;
      cursor: pointer;
    }
  }
}

.payment-btn {
  padding: 0rem;
  margin: 1.25rem 1.25rem 0 1.25rem;
  padding: 0.5rem;
  border: 1px solid $input-border-color;
  background-color: $secondary-color;
  color: white;
  text-align: center;
}

.payment--closed {
  display: unset;
}

.button-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.new-round-btn {
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 1em;
  position: fixed;
  bottom: 0px;
}

@media screen and (min-width: 768px) {
  .payment__content {
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .payment__content {
    width: 50%;
  }
}
