@import '../main';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.login--existing-user {
  background-color: $primary-color;

  & button {
    color: $primary-color;
  }
}

.login--new-user {
  background-color: $secondary-color;

  & button {
    color: $secondary-color;
  }
}

.logo {
  flex: 3;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  max-width: 274px;

  &__container {
    width: 60vw;

    &__img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.form {
  display: flex;
  flex: 5;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 0 2rem;

  &__field {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid $input-border-color;
  }
}

.button {
  color: $primary-color;
  margin-top: 2rem;
  border: 1px solid $input-border-color;
  text-align: center;
  background-color: $button-color-light;
}

.sign-up {
  font-weight: 700;
  flex: 2;
  color: $text-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  // max-height: calc(100vh / 3);

  & p {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 50%;
  }

  .logo__container {
    width: 40vw;
  }
}

@media screen and (min-width: 960px) {
  .form {
    width: 50%;
  }

  .logo__container {
    width: 30vw;
  }
}
