@import '../main';

.new-round__counterpart-name {
  flex: 3;
  margin: 0;
}

.new-round__input {
  flex: 3;
}

.new-round__add-remove-counterpart-button {
  flex: 3;
}

.new-round__counterpart {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
}

.added-recipient {
  padding: 1.25rem 0;
  background-color: rgb(177, 177, 177);
}
