@import '../main';

.new-round-container {
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  margin-bottom: 40px;
  background: $background-color;
}

.new-round-content {
  padding: $page-margin;
  overflow: scroll;
  flex: 1;
}

.round-input-container {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    text-align: center;
    vertical-align: middle;
    width: 2.5rem;
  }

  &__input {
    flex: 1;
    padding: 0.5rem;
  }
}

.switch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.onoffswitch {
  position: relative;
  width: 120px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0.5px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: 'Even Split';
  padding-left: 10px;
  background-color: $secondary-color;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: 'Manual Split';
  padding-right: 10px;
  background-color: #c44545;
  color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 23px;
  margin: 3px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 90px;
  border: 0.5px solid #999999;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.new-round-counterpart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $line-color;
}

.new-round-recipient-container {
  @extend .new-round-counterpart-container;
}

.new-round-user-container {
  @extend .new-round-counterpart-container;
  border-top: 1px solid $line-color;
}

.user-container {
  display: flex;
  flex: 3;
  height: 4rem;

  &__avatar {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin: auto;
  }

  &__name {
    margin: auto;
    font-size: 1em;
    flex: 1;
    padding-left: 1rem;
  }
}

.user-added {
  background-color: #e0e0e0;
}

.new-round-add-remove-btn {
  background: transparent;
  border: none;
  color: $text-color-grey;
  font-size: 1.5rem;
}

.new-round__input {
  padding: 0.5rem;
  display: flex;
  text-align: left;
  border: 0;
  max-width: 5em;
  width: 5em;
  height: 2.5rem;
}
