@import "../main";

.new-round-counterpart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $line-color;
}

.round-counterpart {
  &__profile-pic {
    background-image: url("/static/images/placeholder_profile_image.png");
  }
}

.counterpart-contact {
  display: flex;
  flex: 3;

  &__avatar {
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    margin: auto;
  }

  &__name {
    flex: 1;
    padding: 1.25rem;
  }
}

.new-round-counterpart-btn {
  flex: 1;
  height: 40px;
  max-width: 40px;
  font-size: 1.5em;
  font-weight: 900;
}
