@import "../main";

.new-round-counterpart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $line-color;
}

.new-round-recipient-container {
  @extend .new-round-counterpart-container;
}

.user-container {
  display: flex;
  flex: 3;

  &__avatar {
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin: auto;
  }

  &__name {
    flex: 1;
    padding: 0.5rem;
  }
}

.new-round-add-remove-btn {
  flex: 1;
  height: 40px;
  max-width: 40px;
  font-size: 1.2em;
  font-weight: 900;
}

.new-round__input {
  padding: 0.5rem 0.25rem;
  padding: 0.5rem;
  display: flex;
  text-align: left;
  border: 0;
  max-width: 5em;
}
