@import "../main";

.tabs-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tabs-content {
  padding: $page-margin $page-margin 0 $page-margin;
  overflow: scroll;
  flex: 1;
}

.tab {
  background-color: $card-background-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  margin-bottom: 1.25rem;

  &__name {
    margin: 0;
  }

  &__title {
    margin: 0;
  }
}

.tab-footer-container {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $line-color;

  &__date {
    margin: 0;
  }

  &__btn {
    border: none;
    background: $secondary-color;
    color: $text-color-light;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }
}

.tab-reorder {
  max-height: 35px;
  max-width: 35px;
}
