@import "../main";

.tabs {
  &-container {
    background-color: $card-background-color;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  &-content {
    overflow: scroll;
  }

  &__lonely-message {
    text-align: center;
    color: $text-color-grey;
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    padding: 1rem;
  }
}

.tab {
  background-color: $card-foreground-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1.25rem;
  margin: $page-margin $page-margin 0 $page-margin;

  &__name {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  &__title {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $line-color;
  }

  &__payer {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }

  &__payees {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.4rem;
  }

  &__label {
    margin-top: 3px;
  }

  &__date {
    color: $text-color-grey;
    padding: 3px 0 3px 0;
    margin: 0;
    font-size: 0.8rem;
  }

  &__button {
    border: none;
    background: transparent;
    color: $text-color-grey;
    font-size: 1.3rem;
  }
}
