@import "../main";

.tab {
  background-color: $card-background-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;

  &__title {
    margin: 0;
  }
}

.tab-footer__btn {
  border: none;
  background: $secondary-color;
  color: $text-color-light;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.tab-footer-container {
  align-items: center;
}

.tab-reorder {
  max-height: 35px;
  max-width: 35px;
}
