@import '../main';

.title-bar-container {
  padding: 0;
}

.title-bar {
  font-size: 1em;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $primary-color;
  color: $text-color-light;

  &__back {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 900;
    padding-left: 1.25rem;
    position: fixed;
    top: 15px;
    background: transparent;
    border: none;
  }

  &__logout {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 900;
    padding-right: 1.25rem;
    position: fixed;
    top: 15px;
    background: transparent;
    border: none;
    transform: rotate(180deg);
  }

  &__title {
    flex: 1;
    text-align: center;
    font-size: 1.3rem;
  }

  &__menu {
    padding-right: 1.25rem;
    cursor: pointer;
  }
}

.navigation-bar {
  @extend .title-bar;
  display: flex;
  text-align: center;
  height: 40px;
  font-size: 0.8em;

  &__balances {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    flex: 1;
    cursor: pointer;
  }

  &__balances--active {
    border-bottom: 2px solid #f5ac68;
    font-weight: 800;
  }

  &__tabs {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    flex: 1;
    cursor: pointer;
  }

  &__tabs--active {
    border-bottom: 2px solid #f5ac68;
    font-weight: 800;
  }
}
