@import '../main';

.title-bar-container {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.title-bar {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $primary-color;
  color: $text-color-light;

  &__logout {
    cursor: pointer;
    display: flex;
    order: 1;
    font-size: 1.5em;
    font-weight: 900;
    padding-right: 1rem;
    padding-left: 0;
    background: transparent;
    border: none;
    position: fixed;
    right: 3px;

    &:focus {
      outline: 0;
    }
  }

  &__title {
    flex: 1;
    font-family: 'Lobster';
    text-align: center;
    font-size: 2rem;
    padding: 0;
  }

  &__menu {
    padding-right: 1.25rem;
    cursor: pointer;
  }
}

.navigation-bar {
  @extend .title-bar;
  display: flex;
  text-align: center;
  height: 35px;
  font-size: 0.8em;

  &__friends {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    flex: 1;
    cursor: pointer;
    background: transparent;
    border: none;

    &:focus {
      outline: 0;
    }

    &--active {
      border-bottom: 3px solid #f5ac68;
      font-weight: 900;
    }
  }

  &__balances {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    flex: 1;
    cursor: pointer;
    background: transparent;
    border: none;

    &:focus {
      outline: 0;
    }

    &--active {
      border-bottom: 3px solid #f5ac68;
      font-weight: 900;
    }
  }

  &__tabs {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    flex: 1;
    cursor: pointer;
    background: transparent;
    border: none;

    &:focus {
      outline: 0;
    }

    &--active {
      border-bottom: 3px solid #f5ac68;
      font-weight: 900;
    }
  }
}
